## Configuración del Servidor
PORT=4000

## Configuración de la Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin_nutri
DB_PASSWORD=password_seguro_123
DB_NAME=nutricion_db
DB_DIALECT=postgres

## Configuración de Autenticación
## Usado por el backend
JWT_SECRET="un_secreto_muy_largo"
JWT_EXPIRES_IN="1d"